%h4 Materials

%table
  %tr
    %th mid
    %th name
    %th author
    %th create_at
  - for material in @public_materials
    %tr
      %td{width: "1%", style: "text-align: center"}=material[:id]
      %td{style: "text-align: center"}
        %a{href: "/data/#{material[:id]}/#{material[:name]}"}
          =material[:name]
      %td{style: "text-align: center"}=material[:author]
      %td{style: "text-align: center"}=material[:create_at]
