%p
  %code Use 'user.cname' to copy a code.

%form{method: "GET", action: "/work/#{@user.name}/update_code"}
  Create Code:
  %input{type: "text", name: "cname"}

%h4
  Calculation Codes

%ol
  - for cname, code in @user.calculation_codes
    %li
      %a{href: "/work/#{@user.name}/update_code?cname=#{cname}"}
        =cname