%h4

%form{method: "GET", action: "/task/v1/task_tree_insert"}
  %p
    Name: 
    %input{type: "text", name: "tname", value: @tname}
  %p
    Main Task:
    %select{name: "cid"}
      - for cid, code in XYZ::Tree::Codes
        %option{value: cid, selected: @tree && @tree.cid == cid}
          =code.name
  %input{type: "submit", value: "Insert Tree"}

- if @tree
  %p Build Tree