%p
%form{method: "GET", action: "/work/#{@user.name}/build_tree"}
  Create New Task Tree:
  %input{type: "text", name: "tname"}
  %input{type: "submit", value: "Create"}
%p
%form{method: "POST", action: "/task/v1/task_tree_clone"}
  or Clone
  %input{type: "text", name: "tname", placeholder: "user.tname"}
  to
  %input{type: "text", name: "tname2", placeholder: "tname"}
  %input{type: "submit", value: "Clone"}


%h4 Task Trees 

%ol
  - for tname, tree in @user.task_trees
    %li
      %a{href: "/work/#{@user.name}/build_tree?tname=#{tname}"}
        =tname
      %aside
        %a{href: "/task/v1/task_tree_delete?tname=#{tname}"} delete
