%h4
  Works:
  %ul
    %li
      %a{href: "/work/#{@user.name}/insert_material"} Insert Material
    %li
      %a{href: "/work/#{@user.name}/material_collection"} Material Collectio
    %li
      %a{href: "/work/#{@user.name}/calculation_code"} Calculation Codes
    %li
      %a{href: "/work/#{@user.name}/shared_file"} Shared Files

- if @user.name == "admin"
  %h4
    Admin:
    %ul
      %li
        %a{href: "/work/admin/active_keys"} Insert Active Keys
