%h4
  Materials

%form{method: "POST", action: "/task/v1/update_collection"}
  %p
    Name:
    %input{type: "text", name: "name", value: @cid}
    %input{type: "submit", value: "Update Collection"}
    %button{type:"button", onclick: "check_all()"} Select all / Unselect all

  %table
    %tr
      %th{width: "1%"}
      %th mid
      %th name
      %th user
      %th info
    - for material in @user.materials do
      - id = material[:id]
      - check = @collection.include?(id)
      %tr{onclick: "toggle_checkbox(#{id})"}
        %td
          %input{type: "checkbox", name: "mid[]", value: id, id: id, checked: check}
        %td=material[:id]
        %td=material[:name]
        %td=material[:state]
        %td=material[:info]

:javascript
  function toggle_checkbox(id) {
    var checkbox = document.getElementById(id)
    checkbox.checked = !checkbox.checked
  }

  function check_all() {
    var checkboxes = document.getElementsByName("mid[]")
    var checked = !checkboxes[0].checked
    for (var i=0; i < checkboxes.length; i++) {
      checkboxes[i].checked = checked
    }
  }