%h4
  Admin - Active Keys
%p
  %a{href: "/task/v1/add_active_key?n=1"} +1 Active Key

%table
  - for i in 0...@keys.size
    %tr
      %td{style: "text-align:center"}= i + 1
      %td{style: "text-align:center"}= @keys[i]
