%p
  %code Use 'user.cid' to copy a code.

%form{method: "get", action: "/work/#{@user.name}/update_code"}
  Create Code:
  %input{type: "text", name: "cid"}

%h4
  Calculation Codes

%ol
  - for cid, code in @user.calculation_codes
    %li
      %a{href: "/work/#{@user.name}/update_code?cid=#{cid}"}
        cid