%h5 Plan - Console

- tree_nodes = @tree.nodes - [0]

%table
  %tr
    %th{width: "1%"} mid
    %th{width: "1%"} material
    - for cid in tree_nodes
      - c = XYZ::Tree::Codes[cid]
      %th=c.name + " (#{cid})"
  - for mid in @mids
    - m = XYZ::Material.material(mid)
    %tr
      %td=mid
      %td=m[:name]
      - for cid in tree_nodes
        - color, text = "", ""
        - color, text = "#ffd700", "" if @result[mid][:next].include?(cid)
        - color, text = "#00c957", "" if @result[mid][:run].include?(cid)
        - color, text = "#7fffd4", "" if @result[mid][:wait].include?(cid)
        - color, text = "#00ff00", "" if @result[mid][:done].include?(cid)
        - if @result[mid][:unready].include?(cid)
          - color, text = "#ff6374", "need: " + @info["#{mid}/#{cid}/unready"].join(", ")
        %td{bgcolor: color}=text

%p Color 
%table{style: "table-layout: fixed"}
  %tr
    %td{bgcolor: ""}
    %td{bgcolor: "#00c957"} Run
    %td{bgcolor: "#7fffd4"} Wait
    %td{bgcolor: "#00ff00"} Done
    %td{bgcolor: "#ffd700"} Next
    %td{bgcolor: "#ff6374"} Unready

:javascript
  setTimeout(
    function(){
      location.reload()
    },
    5000
  )