%h4
  Insert material

%form{method: "POST", action: "/task/v1/insert_material"}
  %table{id: "table"}
    %tr
      %td Name
      %td
        %input{type: "text", name: "name"}
    %tr
      %td Options
      %td
        %input{type: "checkbox", name: "private", value: "private"} private

  %h4
    Info
    %p
      %a{href:"https://www.runoob.com/xml/xml-tutorial.html", target:"_blank"} learning XML format...    
    %p
      %textarea{name:"files", cols:"80", rows:"25", style:"OVERFLOW: visible"}
        <?xml version="1.0" encoding="UTF-8"?>
        <material>
        </material>

  %p
    %input{type: "submit", value: "Insert"}
